body{
    text-align: center;
    background-color: rgb(183, 208, 228);
}

table{
    width: 60%;
    margin: auto;
    font-size: 1.5em;
    border: 5px double rgb(0, 0, 1);/*標格邊框線的粗度 顏色*/
}

td{
    border-bottom: 1px solid blue;
}

th
{
    border: 2px solid rosybrown;/*小標的框框*/
}